<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/status.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <title>Aqua Sense</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside id="sidebar">
            <div class="toggle">
                <div class="logo">
                    <h2><b>Aqua<span class="danger">Sense</span></b></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="status" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h2><b>Status</b></h2>
                </a>
                <a href="controls">
                    <span class="material-icons-sharp">settings</span>
                    <h2><b>Controls</b></h2>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">contacts</span>
                    <div class="contact-info">
                        <h3>Contact</h3>
                    </div>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Water Level</h1>
            <!-- Monitoring Section -->
            <div class="monitoring">
                <div class="top_tank">
                    <div class="status">
                        <div class="info">
                            <h2>Top Tank</h2>
                            <h2 id="top_data"> - </h2>
                        </div>
                        <div class="tank">
                            <div class="water" id="top-tank">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom_tank">
                    <div class="status">
                        <div class="info">
                            <h2>Bottom Tank</h2>
                            <h2 id="bottom_data"> - </h2>
                        </div>
                        <div class="tank">
                            <div class="water" id="bottom-tank">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="water_avail">
                    <div class="status">
                        <div class="info">
                            <h2>Water Available:</h2>
                        </div>
                        <div id="avail_data"> </div>
                    </div>
                </div>
                <div class="motor">
                    <div class="status">
                        <div class="info">
                            <h2>Tank Status</h2>
                            <h2>
                                <p><b id="motor_data">ON</b></p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>USER</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/Admin.png') }}">
                    </div>
                </div>
            </div>
            <div class="user-profile">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/image.jpg') }}">
                    <h2><b>A q u a<span class="danger"> S e n s e</span></b></h2>
                </div>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/status.js') }}"></script>

</body>

</html>
