
main .controllers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .controllers > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .controllers > div:hover{
    box-shadow: none;
}

main .controllers > div .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .controllers h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}


@media screen and (max-width: 1200px) {

main .controllers{
    grid-template-columns: 1fr;
    gap: 0;
}
}

/* Container for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px; /* Changed width to accommodate vertical layout */
    height: 80px; /* Changed height to accommodate vertical layout */
  }
  
  /* Hide the actual checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    width: 34px; /* Reduced width for a vertical layout */
    height: 100%; /* Full height for the vertical layout */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  /* Change background color when checked */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Add shadow on focus */
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  /* Move the slider when checked */
  input:checked + .slider:before {
    transform: translateY(-46px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  